{% extends 'base.html' %}
{% block title %}
Blood Bank Managment System
{% endblock title %}

{% block body %}


<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(../static/assets/img/slide/slide-1.jpg)">
        <div class="container">
          <h2>DONATE BLOOD SAVE LIFE</h2>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(../static/assets/img/slide/slide-2.jpg)">
        <div class="container">
          <h2>DONATE BLOOD SAVE LIFE</h2>
        </div>
        <!-- <div class="container">
          <h2>Lorem Ipsum Dolor</h2>
          <p>Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut
            aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque
            accusamus repellendus deleniti vel.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div> -->
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(../static/assets/img/slide/slide-3.jpg)">
        <div class="container">
          <h2>DONATE BLOOD SAVE LIFE</h2>
        </div>

      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
</section><!-- End Hero -->
<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 ><a href="" class="text-dark">Blood is one of the most precious gifts you can give</a></h4>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 ><a href="" class="text-dark">Blood donation is the gift of life, don’t let it go to waste away</a></h4>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-thermometer"></i></div>
          <h4 ><a href="" class="text-dark">No matter what you’re doing, take a moment to think about all the lives that are saved each time someone donates blood.</a></h4>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4 ><a href="" class="text-dark">Blood is precious! Give blood, save a life.</a></h4>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Featured Services Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Testimonials</h2>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              A friend of mine donated more than 55 gallons of blood in his lifetime and
              challenged his friends to help. I am answering his challenge to help others.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
            <h3>Saul Goodman</h3>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I donate because I want people to have access to the blood they need when they most
              need it. There is no better feeling than getting a phone call from ARUP Blood
              Services letting me know that my blood was used to save a life. I am thankful that I
              can be part of helping during a time of need.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
            <h3>Sara Wilsson</h3>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I love people! I'm the kind of person who drops everything for people in need, and
              donating blood every chance I get is my favorite way to help others. It's simple, it
              doesn't cause me any inconvenience, and I have a sure way of knowing that my
              donation makes a difference.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
            <h3>Jena Karlis</h3>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              As a father, I have been blessed to have two healthy children. If by giving blood, I
              can help other mothers with children with special concerns, this is one way I feel I
              can support them when they may need it the most. I hope my blood can help them.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I worked at Huntsman Cancer Institute and had a chance to see firsthand how
              important blood donations were to the patients. Cancer patients sometimes need blood
              or platelet donations to heal. I donate to help these patients.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="../static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
            <h3>John Larson</h3>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->

<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery" >
  <div style="border: top 5px black" class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Gallery</h2>
      
    </div>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-1.jpg"><img
              src="../static/assets/img/gallery/gallery-1.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-2.jpg"><img
              src="../static/assets/img/gallery/gallery-2.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-3.jpg"><img
              src="../static/assets/img/gallery/gallery-3.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-4.jpg"><img
              src="../static/assets/img/gallery/gallery-4.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-5.jpg"><img
              src="../static/assets/img/gallery/gallery-5.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-6.jpg"><img
              src="../static/assets/img/gallery/gallery-6.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-7.jpg"><img
              src="../static/assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
        <div class="swiper-slide"><a class="gallery-lightbox" href="../static/assets/img/gallery/gallery-8.jpg"><img
              src="../static/assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Gallery Section -->

<!-- ======= Frequently Asked Questioins Section ======= -->
<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questioins</h2>
    </div>

    <ul class="faq-list">

      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How does the blood
          donation process work?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Donating blood is a simple thing to do, but can make a big difference in the lives of
            others. The donation process from the time you arrive until the time you leave takes
            about an hour. The donation itself is only about 8-10 minutes on average. The steps in
            the process are:
            <br>
            Registration

            You will complete donor registration, which includes information such as your name,
            address, phone number, and donor identification number (if you have one).
            You will be asked to show a donor card, driver's license or two other forms of ID.
            Health History and Mini Physical
            You will answer some questions during a private and confidential interview about your
            health history and the places you have traveled.
            You will have your temperature, hemoglobin, blood pressure and pulse checked.
            Donation
            We will cleanse an area on your arm and insert a brand–new, sterile needle for the blood
            draw. This feels like a quick pinch and is over in seconds.
            You will have some time to relax while the bag is filling. (For a whole blood donation,
            it is about 8-10 minutes. If you are donating platelets, red cells or plasma by
            apheresis the collection can take up to 2 hours.)
            When approximately a pint of blood has been collected, the donation is complete and a
            staff person will place a bandage on your arm.
            Refreshments
            You will spend a few minutes enjoying refreshments to allow your body time to adjust to
            the slight decrease in fluid volume.
            After 10-15 minutes you can then leave the donation site and continue with your normal
            daily activities.
            Enjoy the feeling of accomplishment knowing that you have helped to save lives.
            Your gift of blood may help up to three people. Donated red blood cells do not last
            forever. They have a shelf-life of up to 42 days. A healthy donor may donate every 56
            days.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">What should I do after
          donating blood?? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            After you give blood:

            Take the following precautions:

            Drink an extra four glasses (eight ounces each) of non-alcoholic liquids.
            Keep your bandage on and dry for the next five hours, and do not do heavy exercising or
            lifting.
            If the needle site starts to bleed, raise your arm straight up and press on the site
            until the bleeding stops.
            Because you could experience dizziness or loss of strength, use caution if you plan to
            do anything that could put you or others at risk of harm. For any hazardous occupation
            or hobby, follow applicable safety recommendations regarding your return to these
            activities following a blood donation.
            Eat healthy meals and consider adding iron-rich foods to your regular diet, or discuss
            taking an iron supplement with your health care provider, to replace the iron lost with
            blood donation.
            If you get a bruise: Apply ice to the area intermittently for 10-15 minutes during the
            first 24 hours. Thereafter, apply warm, moist heat to the area intermittently for 10-15
            minutes. A rainbow of colors may occur for about 10 days.
            If you get dizzy or lightheaded: Stop what you are doing, lie down, and raise your feet
            until the feeling passes and you feel well enough to safely resume activities.
            And remember to enjoy the feeling of knowing you have helped save lives!
            Schedule your next appointment.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Will it hurt when you
          insert the needle?? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Only for a moment. Pinch the fleshy, soft underside of your arm. That pinch is similar
            to what you will feel when the needle is inserted.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac How long does a blood
          donation take? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            The entire process takes about one hour and 15 minutes; the actual donation of a pint of
            whole blood unit takes eight to 10 minutes. However, the time varies slightly with each
            person depending on several factors including the donor's health history and attendance
            at the blood drive.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">How often can I donate
          blood?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            You must wait at least eight weeks (56 days) between donations of whole blood and 16
            weeks (112 days) between Power Red donations. Whole blood donors can donate up to 6
            times a year. Platelet apheresis donors may give every 7 days up to 24 times per year.
            Regulations are different for those giving blood for themselves (autologous donors).
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Who can donate blood? <i
            class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            In most states, donors must be age 18 or older. Some states allow donation by
            16-year-olds with a signed parental consent form. Donors must weigh at least 110 pounds
            and be in good health. Additional eligibility criteria apply.
          </p>
        </div>
      </li>

    </ul>

  </div>
</section><!-- End Frequently Asked Questioins Section -->


</main><!-- End #main -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="../static/assets/vendor/purecounter/purecounter.js"></script>
<script src="../static/assets/vendor/aos/aos.js"></script>
<script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../static/assets/js/main.js"></script>

{% endblock body %}