{% extends 'baselogin.html' %}
{% block title %} Blood Request{% endblock title %}
{% block form %}

<body class="text-center ">
    <div class="container">
        <img class="mb-4 mt-3 rounded-circle pt-1" src="../static/assets/img/1.png" alt="" width=10% height=10%>
        <h1 class="h3 mb-3 font-weight-normal">Blood Requirement's</h1>
        {% include "message.html" %}

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/bloodreqst" method="post">
                    <div class="form-group pb-1">
                        <input type="text" id="paitentname" class="form-control" placeholder="Enter Paitent's name"
                            name="paitentname" required autofocus>
                    </div>

                
                    <div class="form-group pb-1">
                        <input type="date" id="dob" class="form-control mt-2" placeholder="Enter DOB" name="dob"
                            required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="age" class="form-control" placeholder="Age"
                            name="age" required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="phoneno" class="form-control" placeholder="Phone No" name="phoneno"
                            required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="bloodgroup" class="form-control" placeholder="Blood Group"
                            name="bloodgroup" required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="unit" class="form-control mt-2" placeholder="Enter unit" name="unit"
                            required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="bloodtype" class="form-control mt-2" placeholder="Blood Type" name="bloodtype"
                            required>
                    </div>
                    <br>
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Add Request</button>

                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
{% endblock form %}