{% extends 'baselogin.html' %}
{% block title %} User Signup{% endblock title %}
{% block form %}

<body class="text-center ">
    <div class="container">
        <img class="mb-4 mt-3 rounded-circle pt-1" src="../static/assets/img/1.png" alt="" width=10% height=10%>
        <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
        {% include "message.html" %}

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">


                <form action="/signup" method="post">
                    <div class="form-group pb-1">
                        <input type="text" id="username" class="form-control" placeholder="Enter Username"
                            name="username" required autofocus>
                    </div>
                    <div class="form-group pb-1">
                        <input type="email" id="email" class="form-control" placeholder="Enter Email address"
                            name="email" required autofocus>
                    </div>
                    <div class="form-group pb-1">
                        <input type="date" id="dob" class="form-control mt-2" placeholder="Enter  DOB" name="dob"
                            required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="donorname" class="form-control" placeholder="Donor's Name"
                            name="donorname" required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="phoneno" class="form-control" placeholder="Phone No" name="phoneno"
                            required>
                    </div>
                    <div class="form-group pb-1">
                        <input type="text" id="bloodgroup" class="form-control" placeholder="Blood Group"
                            name="bloodgroup" required>
                    </div>
                    <br>
                    <button class="btn btn-lg btn-danger btn-block" type="submit">Sign Up</button>

                </form>

                <a class="text-dark" href="/login">Click Here to Login </a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</body>
{% endblock form %}